<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <app-aside> </app-aside>

    <div class="layout-page">

      <app-nav> </app-nav>

      <div class="content-wrapper">

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">
            <div class="col-lg-8 mb-4 order-0">
              <app-widecard> </app-widecard>

            </div>
            <div class="col-lg-4 col-md-4 order-1">
              <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <app-tinycard> </app-tinycard>

                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                  <app-tinycard> </app-tinycard>

                </div>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
              <app-bigcard></app-bigcard>
            </div>
            <div class="col-md-6 col-lg-4 order-1 mb-4">

              <app-bigcard></app-bigcard>
            </div>
            <div class="col-md-6 col-lg-4 order-2 mb-4">
              <app-bigcard></app-bigcard>
            </div>
          </div>
        </div>

        <app-footer></app-footer>

        <div class="content-backdrop fade"></div>
      </div>
    </div>
  </div>

  <div class="layout-overlay layout-menu-toggle"></div>
</div>


<router-outlet />