* {
  box-sizing: border-box;
}

.wrapper {
  max-width: auto;
  margin: 0 auto;
}

.wrapper>div {
  border: 2px solid rgb(233 171 88);
  border-radius: 5px;
  background-color: rgb(233 171 88 / 50%);
  padding: 1em;
  color: #d9480f;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto , 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1;
}

.content {
  grid-column: 2 / 12;
  grid-row: 1 / 4;
}

.side {
  grid-column: 1 / 1;
  grid-row: 2 / 8;
}

.footr1 {
  grid-column: 2;
  grid-row: 4;
}

.footr2 {
  grid-column: 3 / 11;
  grid-row: 4;
}

.footr3 {
  grid-column: 11;
  grid-row: 4;
}


